div.page-wrapper-top {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}
main.left {
}
aside.right {
}

body {
  background-color: white;
}

.messenger-box {
  margin-right: 2%;
  margin-top: 2%;
  width: auto;
  background-color: white;
  border-radius: 2em;
  border: #f1f1f1 2px solid;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.contact-list {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.messenger-box .contact-list .contact {
  position: relative;
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: 7fr 2fr 1fr;
  align-items: center;
  justify-content: left;
  margin: 10px auto;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(172, 164, 172);
}

.messenger-box .contact-list .contact:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.pop-up-chat {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 500px;
  height: 340px;
  background-color: white;
  width: 260px;
  border-radius: 15px;
  border: 1px solid rgba(145, 138, 145, 1);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(145, 138, 145, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(145, 138, 145, 1);
  box-shadow: 2px 2px 5px 0px rgba(145, 138, 145, 1);
}

.pop-up-chat .pop-up-chat-top {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 15px;
  padding-bottom: 5px;
  font-size: 18px;
  border-bottom: 1px solid grey;
}

.pop-up-chat-name {
  padding-left: 10px;
}

.pop-up-chat-close {
  cursor: pointer;
  content: "x";
  font-weight: 300;
  font-family: Arial, sans-serif;
}

.messenger-box .contact-list .contact .name {
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.messenger-box .contact-list .contact .status {
  color: rgb(39, 219, 15);
  text-align: right;
}

.messenger-box .contact-list .contact .status-dot {
  background-color: rgb(39, 219, 15);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 auto;
}

.messages {
  height: 60%;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
}

input[type="text"] {
  width: 85%;
}

.pop-up-sender {
  text-align: center;
}
